@page "/users/{userId:int}/profile"
@using MediatR
@using TS.Personal.Web.UseCases
@using TS.Personal.Web.ViewModels
@rendermode InteractiveServer

@inject IMediator Mediator

<PageTitle>User Profile</PageTitle>

<h2>User Profile</h2>



@code {
    
    [Parameter]
    public string UserId { get; set; }

    private UserProfileVm userProfile = new();

    protected override async Task OnInitializedAsync()
    {
        var command = new GetUserRequest(UserId);
        var result = await Mediator.Send(command);
        
        if (result is not null)
        {
            var vm = new UserProfileVm
            {
                UserId = result.Profile.Id,
                Email = result.Profile.Email,
                Gender = result.Profile.Gender,
                FirstName = result.Profile.FirstName,
                LastName = result.Profile.LastName,
                PhoneNumber = result.Profile.PhoneNumber,
                RegisteredDate = result.Profile.RegisteredDate

            };
        }
        
    }

}
